.App {
  font-family: sans-serif;
  text-align: center;
}

.lineUps {
  display: inline-block;
  width:1000px;
}

.finalResultFormations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;

}

.flexContainer {
  display: flex;
}

.flexContainer>h3 {
  flex: 1;
  align-items: center;
  display:flex;
  justify-content:center
}

.cardLineUps {
 color:black
}

.field {
  display: flex;
  justify-content: center;
  align-items: center
}