.App {
  font-family: sans-serif;
  text-align: center;
}

.lineUps {
  display: inline-block;
  justify-content: center;
  min-height: 100vh;
}

.finalResultFormations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;

}

.contentLineUps {
  min-height: 100vh;
  margin-top: 20px;
}

.flexContainer {
  display: flex;
}

.flexContainer>h3 {
  flex: 1
}