.center {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}

.content {
  height:100vh;
  margin-top: 20px;
}

a.addButton:link, a.addButton:visited {
    background-color: #cc2062;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: absolute;
  
}